<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Show Data Table</h2>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            {% if key1 %}
            <tbody>
                {% for i in key1 %}
                <tr>
                    <td >{{i.id}}</td>
                    <td>{{i.Firstname}}</td>
                    <td>{{i.Lastname}}</td>
                    <td>{{i.Email}}</td>
                    <td>{{i.Contact}}</td>
                    <td>
                        <form name="EditForm" action="{% url 'editpage' pk=i.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form name="DeleteForm" action="{% url 'delete' pk=i.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete">
                        </form>
                    </td>
              </tr>
                {% endfor %}
            </tbody>
            {% endif %}
          </table>
          </div>
          </body>
          </html>
          